# =========================
# Python
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd
*.so

# =========================
# Virtual Environment
# =========================
venv/
env/
.env/

# =========================
# Jupyter Notebook
# =========================
.ipynb_checkpoints/

# =========================
# Logs
# =========================
logs/
*.log

# =========================
# Dataset (DO NOT PUSH)
# =========================
dataset/
data/
datasets/

# =========================
# Model Weights (Heavy)
# =========================
*.pt
*.pth
*.onnx
*.ckpt
weights/
checkpoints/

# Ignore everything inside outputs
outputs/*

# Allow folders (required)
!outputs/**/

# Allow ONLY loss curve images
!outputs/**/loss_curve.png

# =========================
# Cache / Temp
# =========================
.cache/
tmp/
temp/

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db

# =========================
# IDE
# =========================
.vscode/
.idea/